data
output
myenv
notes

eggs/psl/
eggs/psl-examples/
eggs/__pycache__

jobs/errors/
jobs/logs/

scripts/**/__pycache__

experiments/scripts/other
experiments/scripts/__pycache__
experiments/notebooks/.*

.temp

temp_performance
temp_analysis